// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  margin: 0 0 20px 0;
  padding: 40px 0 20px 0;
  background-color: #6f5499;
}

.form-inline .form-control {
  width: 100%;
}
